@import "tailwindcss";

@theme {
  --color-primary: #1f2937;
  --color-secundary: #6b7280;
  --color-foreground: #f3f4f6;
  --spacing-15: 3.75rem;
}

:root {
  --font-geist-sans: 'Geist', sans-serif;
  --font-geist-mono: 'Geist Mono', monospace;
  background: #f6f6f6;
}

body {
  font-family: var(--font-geist-sans);
}